body {
    background-color: aqua;
}

h1 {
    color: blue;
    font-size:100px;
}

h2 {
    color: blueviolet;
    font-size:20px;
}

.red-heading {
    color: red;
}

.orange-text {
    color: orange;
}

#new-font {
    font-family: fantasy, cursive;
}