body {
    background-color: blanchedalmond;;
}

h1 {
    color: blue;
    font-size:100px;
}

h2 {
    color: blueviolet;
    font-size:20px;
}

header {
    background-color: blanchedalmond;
}

header p {
    font-weight: bold;
    font-style: italic;
    color: blue;
}

figure.left {
    float: left;
}

.red-heading {
    color: red;
}

.orange-text {
    color: orange;
}

#new-font {
    font-family: fantasy, cursive;
}

footer {
    background-color: blueviolet;
    border: black;
    padding-left: 5px;
    border-radius: 8px;
}